# RPC URLs
ETHEREUM_RPC_URL=https://eth.infura.io/v3/YOUR-API-KEY
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR-API-KEY
BASE_RPC_URL=https://mainnet.base.org
ZORA_RPC_URL=https://rpc.zora.energy
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
OPTIMISM_RPC_URL=https://mainnet.optimism.io
POLYGON_RPC_URL=https://polygon-rpc.com

# Private Key
PRIVATE_KEY=0x...

# API Keys
ETHERSCAN_API_KEY=
BASESCAN_API_KEY=
ARBISCAN_API_KEY=
OPTIMISMSCAN_API_KEY=
POLYGONSCAN_API_KEY=

# Gas Reporter
REPORT_GAS=false

# Deployment
DEPLOY_NETWORK=sepolia
